<%= form_with(model: referral) do |form| %>
  <% if referral.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(referral.errors.count, "error") %> prohibited this referral from being saved:</h2>
      <ul>
        <% referral.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.teacher? %>
    <div>
      <%= form.label :student_name %>
      <%= form.text_field :student_name %>
    </div>

    <div>
      <%= form.label :student_info %>
      <%= form.text_area :student_info %>
    </div>
  <% end %>

  <% if current_user.admin? %>
    <div>
      <%= form.label :status %>
      <%= form.select :status, Referral.statuses.keys.map { |s| [s.humanize, s] } %>
    </div>

    <div>
      <%= form.label :admin_signature %>
      <%= form.text_field :admin_signature %>
    </div>
  <% end %>

  <% if current_user.counselor? %>
    <div>
      <%= form.label :counselor_notes %>
      <%= form.text_area :counselor_notes %>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
