<div id="<%= dom_id referral %>">
  <p>
    <strong>Student name:</strong>
    <%= referral.student_name %>
  </p>

  <p>
    <strong>Student info:</strong>
    <%= referral.student_info %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= referral.status %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= referral.teacher_id %>
  </p>

  <p>
    <strong>Counselor:</strong>
    <%= referral.counselor_id %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= referral.admin_id %>
  </p>
</div>
